# Map old commits to your identity
# Old commit name and email -> Your new name and email
Your Name <your.email@example.com> Mohammad Tamimul Ehsan <tamim.ehsan@gmail.com>
Your Name <your.email@example.com> TamimEhsan <tamim.ehsan@gmail.com>
